<div class="content m-3" role="main">
    <form [formGroup]="exchangeRateForm"> 
        <div class="form-row">
            <div class="form-group col-md-5">
              <label for="amount">Exchange rate : {{exchangeRate}}</label>
            </div>
            <div class="form-group col-md-6 h-25">
                <label class="checkbox-inline">
                     <input type="checkbox" style="background-color:#1e7e44" formControlName="isFixedExchangeRate" checked data-toggle="toggle"> Fixed rate 
                </label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="amount">Amount</label>
              <input type="text" class="form-control" formControlName="amount" placeholder="Amount">
            </div>
            <div class="form-group col-md-1">
              <label for="firstCurrency">From</label>
              <input type="text" class="form-control" formControlName="firstCurrency">
            </div>
            <div class="form-group col-md-1">
                <br>
                <svg (click)="onChangeCurrency()" width="3em" height="4em" viewBox="0 0 16 16" class="ml-4 bi bi-arrow-left-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                </svg>
            </div>
            <div class="form-group col-md-1">
                <label for="secondCurrency">To</label>
                <input type="text" class="form-control" formControlName="secondCurrency">
              </div>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color:#1e7e44" (click)="onSubmit()">Calculate</button>
    </form> 
    <div class="m-3 display-4">
         {{convertedAmount}} {{exchangeCurrency}} 
    </div>

    <table class="table m-3"  *ngIf="exchangeRequestHistory && exchangeRequestHistory.length > 0">
        <thead>
          <tr>
            <th scope="col">Real Ex Rate</th>
            <th scope="col">Ex Rate</th>
            <th scope="col">Amount</th>
            <th scope="col">First Currency</th>
            <th scope="col">Calculated Amount</th>
            <th scope="col">Second Currency</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of exchangeRequestHistory">
            <td>{{request.realExchangeRequest}}</td>
            <td>{{request.exchangeRequest}}</td>
            <td>{{request.amount}}</td>
            <td>{{request.firstCurrency}}</td>
            <td>{{request.calculatedAmount}}</td>
            <td>{{request.secondCurrency}}</td>
          </tr>
        </tbody>
    </table>
</div>
